<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  
</head>

<body>
 <div class="login">
	<h1>College Dropout Prediction</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="Name" placeholder="Name" required="required" />
		<br>
        <input type="text" name="Year" placeholder="Year" required="required" />
		<br>
		<input type="text" name="SEM 1 CGPA" placeholder="SEM 1 CGPA" />
		<br>
		<input type="text" name="SEM 2 CGPA" placeholder="SEM 2 CGPA" />
		<br>
		<input type="text" name="SEM 3 CGPA" placeholder="SEM 3 CGPA" />
		<br>
		<input type="text" name="SEM 4 CGPA" placeholder="SEM 4 CGPA" />
		<br>
		<input type="text" name="SEM 5 CGPA" placeholder="SEM 5 CGPA" />
		<br>
		<input type="text" name="SEM 6 CGPA" placeholder="SEM 6 CGPA" />
		<br>
		<input type="text" name="SEM 7 CGPA" placeholder="SEM 7 CGPA" />
		<br>
		<input type="text" name="SEM 8 CGPA" placeholder="SEM 8 CGPA" />
		<br>
		<input type="text" name="No of Backlogs" placeholder="No of Backlogs" required="required" />
		<br>
		<input type="text" name="Washout Count" placeholder="Washout Count" required="required" />
		<br>
		<input type="text" name="Study Hours per week" placeholder="Study Hours per week" required="required" />
		<br>
		<input type="text" name="Attendance" placeholder="Attendance" required="required" />
		

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>
